<main role="main">
  <form name="form" #journeySearch="ngForm" novalidate>
    <div class="row">
      <label for="station">Departing from: </label>
      <input type="text" id="station" name="station" [(ngModel)]="search.station">
    </div>
    <div class="row">
      <label for="time">Time</label>
      <input type="time" id="time" name="time" [(ngModel)]="search.time">
    </div>
    <div class="row">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" [(ngModel)]="search.date">
    </div>
    <div class="row">
      <input type="submit" value="Search">
    </div>
  </form>
</main>