<main [class.loading]="_loading">
  <header>
      <h2>{{schedule.departureTime}} {{schedule.origin}} to {{schedule.destination}}</h2>
      <h3>{{schedule.operator | operator}} Service</h3>
  </header>
  <section>
    <div id="progressMapPreload">
      <div class="origin"></div>
      <div class="intermediate"></div>
      <div class="destination"></div>
    </div>
    <table>
      <thead>
        <tr>
          <td colspan="3" class="border-none"></td>
          <td colspan="2" class="border-left wwt">Timetable</td>
          <td colspan="3" class="border-left">Realtime</td>
        </tr>
        <tr>
          <td class="border-none"></td>
          <td>Location</td>
          <td>Platform</td>
          <td class="border-left wwt"><abbr title="Arrivals">Arr</abbr></td>
          <td class="wwt"><abbr title="Departures">Dep</abbr></td>
          <td class="border-left"><abbr title="Arrivals">Arr</abbr></td>
          <td><abbr title="Departures">Dep</abbr></td>
          <td>Status</td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of schedule.locations; first as isFirst; last as isLast"
          [class.late]="record.isLate"
          [class.early]="record.isEarly"
          >
          <td class="progress" [class.origin]="isFirst" [class.destination]="isLast"></td>
          <td class="location">
            <span *ngIf="record.station.crs === null">{{record.station.name}}</span>
            <a *ngIf="record.station.crs !== null" [routerLink]="['/station', record.station.crs, 'departures', year, month, day, record.routerTime]"><span>{{record.station.name}}</span></a></td>
          <td><span>{{record.platform}}</span></td>
          <td class="border-left wwt"><span>{{record.publicArrival}}</span></td>
          <td class="wwt"><span>{{record.publicDeparture}}</span></td>
          <td class="border-left realtime"><span [class.calledAt]="record.actualArrival !== null">{{record.realtimeArrival}}</span></td>
          <td class="realtime"><span [class.calledAt]="record.actualDeparture !== null">{{record.realtimeDeparture}}</span></td>
          <td class="realtime"><span *ngIf="record.actualTime !== null" class="status">{{record.status}}</span></td>
        </tr>
      </tbody>
    </table>
  </section>
</main>
