header{
  background: #efefef;
  padding: 8px;
}
header svg {
  display: block;
  height: 40px;
  width: auto;
  margin: 0 auto 0 auto;
}

header.loading .track{
width: 100%;
margin-top: 5px;

}
header.loading svg{
animation-name: loadingTrain;
animation-duration: 2s;
animation-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
animation-iteration-count: infinite;
animation-delay: 3s;
}
header .warning{
  font-size: 0.8em;
  text-align: center;
  padding: 10px;
  margin: 5px;
  background: #ff9933;
  font-weight: bold;
}

@keyframes loadingTrain {
0% {
  transform: translate(0px, 0px);
  }
45% {
  transform: translate(-300px, 0px);
  }
46% {
  transform: translate(300px, 0px);
  }
95% {
  transform: translate(0px, 0px);
  }
}
