.row{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 20px 10px;
}
.row label{
    flex-grow: 3;
}
.row input{
    flex-shrink: 1;
    font-size: 16px;
}
.row input[type=submit]{
    flex-shrink: 4;
    width: 100%;
}
form details{
  display: none;
}
#autocomplete{
  width: 100%;
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  margin: 0;
}
#autocomplete ul{
  list-style-type: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
#autocomplete li{
  background: #f0f0f0;
  width: 100%;
  padding: 10px 30px;
  border-bottom: 1px solid #dddddd;
}
#autocomplete span.crs{
  font-weight: bold;
}
#autocomplete li:hover,
#autocomplete li:focus{
  background: #dddddd;
}
#autocompleteDetails{
  display: none;
}
