<main role="main">
  <form name="form" #journeySearch="ngForm" (ngSubmit)="onSearch()">
    <div (keydown)="onKeyDown($event)">
      <div class="row">
        <label for="station">Departing from: </label>
        <input required tabindex="1" aria-autocomplete="both" aria-owns="autoCompleteList" aria-describedby="autocompleteDetails" [attr.aria-expanded]="possibleStations.length !== 0" autocomplete="off" type="text" id="station" name="station" [ngModel]="search.station.name" [value]="search.station.name" (input)="onKeyUp($event)">
        <span id="autocompleteDetails">When autocomplete results are available use up and down arrows to review and enter to select.</span>
      </div>
      <div class="row" id="autocomplete">
        <ul id="autoCompleteList" role="listbox">
          <li role="option" *ngFor="let item of possibleStations; index as i" tabindex="{{i + 1}}" [attr.data-station]="item" (click)="onStationSelect($event)"><span class="crs">[{{item.crs}}]</span> {{item.name}}</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <label for="time">Time</label>
      <input type="time" id="time" name="time" [(ngModel)]="search.time">
    </div>
    <div class="row">
      <label for="date">Date</label>
      <input type="date" id="date" name="date" [(ngModel)]="search.date">
    </div>
    <div class="row">
      <input type="submit" value="Search">
    </div>
  </form>
</main>
