<header role="banner" aria-label="Application Header">
    <a [routerLink]="['/']">
        <svg width="64.732mm" height="23.345mm" version="1.1" viewBox="0 0 75 23.344908" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
          <g transform="translate(92.842 -137.16)">
            <path d="m-79.397 139.33c5.1616-2.4376 16.347-2.1595 16.347-2.1595v6.2007h-22.584s1.075-1.6036 6.2366-4.0412z" fill="#f2a600"/>
            <path d="m-89.867 151.2h61.757l-8.7775 4.9462h-30.538s-3.4479-0.10804-5.4175 1.1773-2.9893 3.1847-2.9893 3.1847h-8.752s-8.2573-3.2729-8.2573-4.5889 2.9747-4.7193 2.9747-4.7193z" fill="#f2a600"/>
            <text x="-84.45739" y="153.79601" fill="#013a58" font-family="sans-serif" font-size="15.852px" letter-spacing="0px" stroke-width=".39629" word-spacing="0px" style="line-height:1.25" xml:space="preserve"><tspan x="-84.45739" y="153.79601" dx="0" fill="#013a58" font-family="Arial, Helvetica, sans-serif" letter-spacing="0px" stroke-width=".39629">Planrr</tspan></text>
          </g>
        </svg>
    </a>
</header>

<router-outlet></router-outlet>

<footer role="contentinfo">
  <p>Planrr is a 2019 BSc Computing Science Honours Research Project by <a href="https://conorhaining.com">Conor Haining</a> at the <a href="https://www.dundee.ac.uk/computing/">University of Dundee</a>. </p>
</footer>
