<app-header></app-header>
<main>
  <h1>404 Page Not Found</h1>
  <h2>Looks like you've left the tracks!</h2>
  <svg version="1.1" viewBox="0 0 154.44223 165.14586" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
    <g transform="translate(-33.041 -113.98)">
      <g transform="rotate(-40 116.5 126.09)" fill="#fff" stroke="#e0e0e0" stroke-linejoin="round">
        <rect x="22.7" y="117.59" width="86.307" height="16.305" stroke-width="3.7373"/>
        <rect x="22.7" y="167.9" width="86.307" height="16.305" stroke-width="3.7373"/>
        <rect x="22.7" y="218.21" width="86.307" height="16.305" stroke-width="3.7373"/>
        <g transform="translate(0 8.8398)" stroke-width="4">
          <rect x="32.847" y="90.21" width="10.467" height="154" fill-opacity=".94425"/>
          <rect x="89.544" y="90.21" width="10.467" height="154" fill-opacity=".99303"/>
        </g>
      </g>
    </g>
  </svg>
</main>
